body{
    background-color: #F8F9FA;
}

#navbar-top{
    background-color: #514F4F;
}

#nav-down{
    background-color: #8F161D;
}

#nav-down2{
    background-color: #8F161D;
    border-top: 0.2px solid #982A30;
}
#nav-top-text{
    color: white;
    font-weight: bold;
    font-size: small;
}

#nav-form{
    background-color: white;
}

#num{
    display:inline;
    color: yellow
}

#as{
    background-color:#FDDB1D;
}

.logo{
    font-size: 65px;
    font-weight: bold;
    color: white;
}

#tipobotao1{
    background-color:#514F4F;
    border-color: #514F4F;
}

#tipobotao2{
    background-color:#8F161D;
    border-color: #8F161D;
}

#tipobotao3{
    background-color: #BC262B;
    color: black;
    border-radius: 50%;
    border: 2px solid black;
}

#lorem{
    margin-right: 30px;
}

.carousel-item {
  	height: 100vh;
  	background-size: cover;
  	background-position: center center;
  	background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15e27d22494%20text%20%7B%20fill%3A%23333%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15e27d22494%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23555%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22277%22%20y%3D%22218.45%22%3EThird%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.carousel-item h1 {
  	margin: 0;
    color: white;
    font-size: 60px;
}

.carousel-inner{
    /*max-height: 700px;*/
}

#ofertas{
    background-color:#8F161D;
}

#ofertas-texto{
    text-align: center;
    color: white;
}

#departamentos{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    margin-bottom: 4%;
}

#info{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    margin-bottom: 2%;
}

#image{
    display: inline-block;
}
#footer{
    background-color: #BC262B;
    color: white;
}

#footer-big{
    background-color: #656263;
    color: white;
}

#footer-big a{
    color: white;
}
